*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

button{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #F07558;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button.big{
  padding: 15px 20px;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: auto;
}

.menu-inline li{
  list-style: none;
  display: inline-block;
}

/* header */
.header-top{
  background-color: #F4F9FD;
  height: 80px;
  line-height: 80px;
}

.navbar-top-language{
  float: left;
  width: 25%;
}

.navbar-top-login{
  float: right;
  width: 25%;
  text-align: right;
}

.navbar-top-language li{
  padding-right: 15px;
}

.navbar-top-login li{
  padding-left: 15px;
}

.fa-search{
  color: #43A5BE;
}
#login{
  color: #F07558;
  background-color: transparent;
  border: 1px solid #F07558;
}

.header-bottom{
  background-color: #fff;
  height: 80px;
  line-height: 80px;
  border-top: 1px solid #32495B
}

.logo{
  float: left;
  width: 20%;
}

.main-menu{
  float: right;
  text-align: right;
}

.main-menu li{
  padding-left: 15px;
}

/* banner header */

.banner{
  height: 600px;
  background-color: #FDF4EF;
  background-image: url(../img/jumbotron.png);
}

.title-left{
  position: relative;
  height: 600px;
}

.title{
  width: 40%;
  position: absolute;
  top: 25%;
  left: 0;
  transform: translateY(-25%);
  color: #33475B;
}

.title h1{
  font-size: 40px;
}

.title p{
  line-height: 1.5;
  margin: 30px 0;
  font-weight: 100;
}

.title .upgrade{
  font-size: 10px;
  margin-top: 30px;
  font-weight: 100;
}

/* banner azzurro */
.divider{
  height: 80px;
  background-color: #AFEBE4;
  border-top: 2px solid #33475B;
  border-bottom: 2px solid #33475B;
}

/* main - section powerful alone */
.powerful{
  height: 1500px;
  background-color: #F4F9FD;
}

.main-top{
  height: 1500px;
  background-color: grey;
}

.rubik{
  width: 80%;
  height: 400px;
  margin: auto;
  background-color: lightgrey;
}

.crm{
  height: 300px;
  background-color: pink;
}

/* box 3clm hub */
.hub{
  width: 100%;
}

.box-hub{
  float: left;
  width: calc(33.33% - 100px/3);
  height: 700px;
  background-color: orchid;
  margin: 50px 0;
}

.box-hub.sales{
  margin-left: 50px;
  margin-right: 50px;
}
